#Trabajando con datos

In [10]:
import pandas as pd

In [2]:
dataset = pd.read_csv('alquiler.csv', sep = ';')

In [11]:
dataset

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Habitación,Pachacámac,0,0,0,27,800.0,350.0,25.0
32956,Departamento,Lince,3,1,2,78,1800.0,800.0,40.0
32957,Departamento,Rímac,2,1,0,48,1400.0,509.0,37.0
32958,Departamento,Rímac,2,0,0,70,3000.0,760.0,NaN
32959,Local comercial,Pachacámac,0,0,0,250,6500.0,4206.0,1109.0

In [13]:
#Genera un conjunto de estadísticas descriptivas de las columnas seleccionadas de un DataFrame.
dataset.describe()

,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
count,32960.000000,32960.000000,32960.000000,32960.000000,3.294300e+04,2.886700e+04,2.272300e+04
mean,1.771390,1.749059,0.665777,231.901547,1.295266e+04,2.388062e+03,2.364410e+03
std,1.717869,20.380402,1.176525,1135.254152,6.675220e+05,3.918496e+04,1.795641e+05
min,0.000000,0.000000,0.000000,0.000000,7.500000e+01,1.000000e+00,1.000000e+00
25%,0.000000,0.000000,0.000000,55.000000,1.500000e+03,5.900000e+02,1.100000e+02
50%,2.000000,1.000000,0.000000,87.000000,2.800000e+03,9.900000e+02,2.500000e+02
75%,3.000000,2.000000,1.000000,170.000000,6.500000e+03,1.800000e+03,6.970000e+02
max,100.000000,1966.000000,70.000000,90000.000000,1.200000e+08,6.552570e+06,2.705307e+07

In [17]:
type(dataset)

pandas.core.frame.DataFrame

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           32960 non-null  object
 1   Distrito       32960 non-null  object
 2   Cuartos        32960 non-null  int64
 3   Vacantes       32960 non-null  int64
 4   Suites         32960 non-null  int64
 5   Area           32960 non-null  int64
 6   Valor          32943 non-null  float64
 7   Mantenimiento  28867 non-null  float64
 8   Impuesto       22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [19]:
dataset.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

## Informaciones generales sobre la base de datos

In [21]:
dataset.dtypes

Tipo              object
Distrito          object
Cuartos            int64
Vacantes           int64
Suites             int64
Area               int64
Valor            float64
Mantenimiento    float64
Impuesto         float64
dtype: object

In [23]:
tipos_de_datos = pd.DataFrame(dataset.dtypes, columns = ['Tipos de datos'])

In [24]:
tipos_de_datos.columns.name = 'Variables'

In [25]:
tipos_de_datos

Variables     Tipos de datos
Tipo                  object
Distrito              object
Cuartos                int64
Vacantes               int64
Suites                 int64
Area                   int64
Valor                float64
Mantenimiento        float64
Impuesto             float64

In [27]:
dataset.shape

(32960, 9)

In [28]:
dataset.shape[0]

32960

In [29]:
dataset.shape[1]

9

In [32]:
print('La base de datos presenta {} registros (inmuebles) y {} variables'.format(dataset.shape[0], dataset.shape[1]))

La base de datos presenta 32960 registros (inmuebles) y 9 variables

## Importando datos desde diferentes fuentes

In [33]:
json = open('datos/alquiler.json')
print(json.read())

[{"Tipo":"Habitación","Distrito":"San Borja","Cuartos":1,"Vacantes":0,"Suites":0,"Area":40,"Valor":1700.0,"Mantenimiento":500.0,"Impuesto":60.0},
{"Tipo":"Casa","Distrito":"Lurigancho","Cuartos":2,"Vacantes":0,"Suites":1,"Area":100,"Valor":7000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Local comercial","Distrito":"Ate","Cuartos":0,"Vacantes":4,"Suites":0,"Area":150,"Valor":5200.0,"Mantenimiento":4020.0,"Impuesto":1111.0},
{"Tipo":"Departamento","Distrito":"Pachacámac","Cuartos":1,"Vacantes":0,"Suites":0,"Area":15,"Valor":800.0,"Mantenimiento":390.0,"Impuesto":20.0},
{"Tipo":"Departamento","Distrito":"Ate","Cuartos":1,"Vacantes":0,"Suites":0,"Area":48,"Valor":800.0,"Mantenimiento":230.0,"Impuesto":null},
{"Tipo":"Departamento","Distrito":"Barranco","Cuartos":3,"Vacantes":1,"Suites":0,"Area":70,"Valor":1200.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Departamento","Distrito":"Comas","Cuartos":2,"Vacantes":0,"Suites":0,"Area":50,"Valor":1300.0,"Mantenimiento":301.0,"Impuesto":17.0},
{"Tipo":"Casa en condominio","Distrito":"Ate","Cuartos":5,"Vacantes":4,"Suites":5,"Area":750,"Valor":22000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Casa en condominio","Distrito":"El Agustino","Cuartos":2,"Vacantes":2,"Suites":0,"Area":65,"Valor":1000.0,"Mantenimiento":null,"Impuesto":null},
{"Tipo":"Local comercial","Distrito":"Pachacámac","Cuartos":0,"Vacantes":3,"Suites":0,"Area":695,"Valor":35000.0,"Mantenimiento":19193.0,"Impuesto":3030.0}]

In [35]:
#DataFrame de un archivo json
df_json = pd.read_json('datos/alquiler.json')
df_json

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [36]:
txt = open('datos/alquiler.txt')
print(txt.read())

Tipo	Distrito	Cuartos	Vacantes	Suites	Area	Valor	Mantenimiento	Impuesto
Habitación	San Borja	1	0	0	40	1700	500	60
Casa	Lurigancho	2	0	1	100	7000
Local comercial	Ate	0	4	0	150	5200	4020	1111
Departamento	Pachacámac	1	0	0	15	800	390	20
Departamento	Ate	1	0	0	48	800	230
Departamento	Barranco	3	1	0	70	1200
Departamento	Comas	2	0	0	50	1300	301	17
Casa en condominio	Ate	5	4	5	750	22000
Casa en condominio	El Agustino	2	2	0	65	1000
Local comercial	Pachacámac	0	3	0	695	35000	19193	3030

In [37]:
#DataFrame de un archivo txt
df_txt = pd.read_table('datos/alquiler.txt')
df_txt

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [38]:
#DataFrame de un archivo excel
df_xlsx = pd.read_excel('datos/alquiler.xlsx')
df_xlsx

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800,390.0,20.0
4,Departamento,Ate,1,0,0,48,800,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000,19193.0,3030.0

In [43]:
#DataFrame de un archivo html
df_html = pd.read_html('datos/datos_html_1.html')
df_html

[     Año                           Campeón                        Subcampeón  \
 0   2018                           Francia                           Croacia
 1   2014                          Alemania                         Argentina
 2   2010                            España                           Holanda
 3   2006                            Italia                           Francia
 4   2002                            Brasil                          Alemania
 5   1998                           Francia                            Brasil
 6   1994                            Brasil                            Italia
 7   1990                          Alemania                         Argentina
 8   1986                         Argentina                    Alemania (RFA)
 9   1982                            Italia                    Alemania (RFA)
 10  1978                         Argentina                           Holanda
 11  1974                    Alemania (RFA)                           Holanda
 12  1970                            Brasil                            Italia
 13  1966                        Inglaterra                    Alemania (RFA)
 14  1962                            Brasil                    Checoslovaquia
 15  1958                            Brasil                            Suecia
 16  1954                    Alemania (RFA)                           Hungría
 17  1950                           Uruguay                            Brasil
 18  1946  No celebrado (II Guerra Mundial)  No celebrado (II Guerra Mundial)
 19  1942  No celebrado (II Guerra Mundial)  No celebrado (II Guerra Mundial)
 20  1938                            Italia                           Hungría
 21  1934                            Italia                    Checoslovaquia
 22  1930                           Uruguay                         Argentina

                                 Sede
 0                              Rusia
 1                             Brasil
 2                          Sudáfrica
 3                           Alemania
 4                   Corea S. y Japón
 5                            Francia
 6                     Estados Unidos
 7                             Italia
 8                             México
 9                             España
 10                         Argentina
 11                    Alemania (RFA)
 12                            México
 13                        Inglaterra
 14                             Chile
 15                            Suecia
 16                             Suiza
 17                            Brasil
 18  No celebrado (II Guerra Mundial)
 19  No celebrado (II Guerra Mundial)
 20                           Francia
 21                            Italia
 22                           Uruguay  ]

In [42]:
df_html[0]

,Año,Campeón,Subcampeón,Sede
0,2018,Francia,Croacia,Rusia
1,2014,Alemania,Argentina,Brasil
2,2010,España,Holanda,Sudáfrica
3,2006,Italia,Francia,Alemania
4,2002,Brasil,Alemania,Corea S. y Japón
5,1998,Francia,Brasil,Francia
6,1994,Brasil,Italia,Estados Unidos
7,1990,Alemania,Argentina,Italia
8,1986,Argentina,Alemania (RFA),México
9,1982,Italia,Alemania (RFA),España
10,1978,Argentina,Holanda,Argentina
11,1974,Alemania (RFA),Holanda,Alemania (RFA)
12,1970,Brasil,Italia,México
13,1966,Inglaterra,Alemania (RFA),Inglaterra
14,1962,Brasil,Checoslovaquia,Chile
15,1958,Brasil,Suecia,Suecia
16,1954,Alemania (RFA),Hungría,Suiza
17,1950,Uruguay,Brasil,Brasil
18,1946,No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial)
19,1942,No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial),No celebrado (II Guerra Mundial)
20,1938,Italia,Hungría,Francia
21,1934,Italia,Checoslovaquia,Italia
22,1930,Uruguay,Argentina,Uruguay

In [48]:
import requests
request = requests.get('https://www.federalreserve.gov/releases/h3/current/default.htm')
df_html = pd.read_html(request.text)
len(df_html)

3

In [49]:
#Si quiero ver la primera tabla
df_html[0]

                  Date      Reserve balances required  \
                  Date Reserve balance requirements 1
0              Month 7                        Month 7
1            Aug. 2019                         134639
2           Sept. 2019                         134707
3            Oct. 2019                         134998
4            Nov. 2019                         140705
5            Dec. 2019                         138984
6            Jan. 2020                         144816
7            Feb. 2020                         138370
8            Mar. 2020                         113139
9            Apr. 2020                              0
10            May 2020                              0
11           June 2020                              0
12           July 2020                              0
13           Aug. 2020                              0
14                 NaN                            NaN
15  Two weeks ending 8             Two weeks ending 8
16       July 15, 2020                              0
17       July 29, 2020                              0
18       Aug. 12, 2020                              0
19       Aug. 26, 2020                              0
20       Sept. 9, 2020                              0

                                                               \
   Top of penalty- free band 2 Bottom of penalty- free band 3
0                      Month 7                        Month 7
1                       148114                         121167
2                       148188                         121227
3                       148509                         121489
4                       154787                         126625
5                       152893                         125076
6                       159309                         130326
7                       152218                         124524
8                       124461                         101817
9                            0                              0
10                           0                              0
11                           0                              0
12                           0                              0
13                           0                              0
14                         NaN                            NaN
15          Two weeks ending 8             Two weeks ending 8
16                           0                              0
17                           0                              0
18                           0                              0
19                           0                              0
20                           0                              0

   Reserve balances maintained 4  \
                           Total
0                        Month 7
1                        1520876
2                        1439771
3                        1481513
4                        1529341
5                        1630090
6                        1645384
7                        1656989
8                        2045148
9                        2953586
10                       3217635
11                       3043556
12                       2718529
13                       2799719
14                           NaN
15            Two weeks ending 8
16                       2795785
17                       2623526
18                       2751124
19                       2821740
20                       2854690

                                                                  \
   Balances maintained to satisfy reserve balance requirements 5
0                                             Month 7
1                                              147555
2                                              147498
3                                              148050
4                                              154256
5                                              152562
6                                              158765
7                                              151612
8                                              124147
9                                                   0
10                                                  0
11                                                  0
12                                                  0
13                                                  0
14                                                NaN
15                                 Two weeks ending 8
16                                                  0
17                                                  0
18                                                  0
19                                                  0
20                                                  0


   Balances maintained that exceed the top of the penalty- free band 6
0                                             Month 7
1                                             1373321
2                                             1292273
3                                             1333462
4                                             1375085
5                                             1477528
6                                             1486619
7                                             1505377
8                                             1921000
9                                             2953586
10                                            3217635
11                                            3043556
12                                            2718529
13                                            2799719
14                                                NaN
15                                 Two weeks ending 8
16                                            2795785
17                                            2623526
18                                            2751124
19                                            2821740
20                                            2854690

In [50]:
#Si quiero ver la segunda tabla
df_html[1]

                  Date            Reserves                      \
                  Date             Total 1            Required
0              Month 7             Month 7             Month 7
1            Aug. 2019             1586844              200608
2           Sept. 2019             1504805              199741
3            Oct. 2019             1547136              200621
4            Nov. 2019             1595222              206586
5            Dec. 2019             1698344              207239
6            Jan. 2020             1715219              214652
7            Feb. 2020             1726943              208324
8            Mar. 2020             2099369              167360
9            Apr. 2020             2953586                   0
10            May 2020             3217635                   0
11           June 2020             3043556                   0
12           July 2020             2718529                   0
13           Aug. 2020             2799719                   0
14                 NaN                 NaN                 NaN
15  Two weeks ending 8  Two weeks ending 8  Two weeks ending 8
16       July 15, 2020             2795785                   0
17       July 29, 2020             2623526                   0
18       Aug. 12, 2020             2751124                   0
19       Aug. 26, 2020             2821740                   0
20       Sept. 9, 2020             2854690                   0

          Vault cash 2                                      \
                 Total Used to satisfy required reserves 3
0              Month 7                             Month 7
1                78451                               65969
2                76550                               65035
3                76660                               65623
4                76921                               65881
5                80168                               68255
6                81216                               69835
7                80735                               69954
8                77114                               54222
9                88104                                   0
10              101345                                   0
11              104201                                   0
12               98392                                   0
13               95327                                   0
14                 NaN                                 NaN
15  Two weeks ending 8                  Two weeks ending 8
16               99459                                   0
17               97225                                   0
18               95638                                   0
19               95066                                   0
20               95313                                   0

                             Monetary base                              \
             Surplus 4             Total 5 Total balances maintained 6
0              Month 7             Month 7                     Month 7
1                12483             3271378                     1520876
2                11516             3202668                     1439771
3                11037             3252807                     1481513
4                11040             3315551                     1529341
5                11914             3426464                     1630090
6                11381             3442569                     1645384
7                10781             3454474                     1656989
8                22892             3883155                     2045148
9                88104             4844940                     2953586
10              101345             5149527                     3217635
11              104201             5001978                     3043556
12               98392             4700365                     2718529
13               95327             4807394                     2799719
14                 NaN                 NaN                         NaN
15  Two weeks ending 8  Two weeks ending 8          Two weeks ending 8
16               99459             4772522                     2795785
17               97225             4609143                     2623526
18               95638             4750981                     2751124
19               95066             4830999                     2821740
20               95313             4876690                     2854690


   Currency in circulation
0                  Month 7
1                  1750502
2                  1762898
3                  1771294
4                  1786209
5                  1796375
6                  1797185
7                  1797485
8                  1838007
9                  1891355
10                 1931891
11                 1958422
12                 1981836
13                 2007675
14                     NaN
15      Two weeks ending 8
16                 1976737
17                 1985617
18                 1999857
19                 2009260
20                 2022000